body{
    background-image: url(../resources/fondoWelcome.png);
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {	
	margin-top: 80px;
    margin-bottom: 80px;
    background-color: white;
    border-radius: 20% 20% 20% 20%;
    border-style: solid black;
    padding: 20px;
    border-radius: 10px;
}

h1{
    padding: 50px;
}
